#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

#img-caption {
  margin-top: 8px;
  font-style: bold;
  color: #581844;
}

#img-div {
  margin: 20px 0;
}
